<div *ngIf="!monster">
  Please select a monster
</div>
<div *ngIf="monster" class="monster-detail-view">
  <div class="monster-stats-frame">
    <div class="monster-stats">
      <h2>{{ monster.name }}</h2>
      <p>{{ monster.size | lowercase }} {{ monster.type | lowercase }}
        , {{ monster.alignment!.attribute | lowercase }} {{ monster.alignment!.attitude | lowercase }}</p>
      <mat-divider></mat-divider>
      <p><b>Armor Class</b> {{ monster.armorClass?.value }} ({{ monster.armorClass?.kindOfArmor }})</p>
      <p><b>Hit Points</b> {{ monster.hitPoints }}</p>
      <div class="sec">
        <span class="bold">Speed </span>
        <span *ngIf="monster.movementSpeed!.walk!=0">{{ monster.movementSpeed!.walk }} ft., </span>
        <span *ngIf="monster.movementSpeed!.fly !=0">fly {{ monster.movementSpeed!.walk }} ft., </span>
        <span *ngIf="monster.movementSpeed!.swim !=0">swim {{ monster.movementSpeed!.swim }} ft.</span>
      </div>
      <mat-divider></mat-divider>
      <div class="stats">
        <div></div>
        <div class="single-stat">
          <p class="bold">STR</p>
          <p>{{ monster.attributes!.strength }}</p>
        </div>
        <div class="single-stat">
          <p class="bold">DEX</p>
          <p>{{ monster.attributes!.dexterity }}</p>
        </div>
        <div class="single-stat">
          <p class="bold">CON</p>
          <p>{{ monster.attributes!.constitution }}</p>
        </div>
        <div class="single-stat">
          <p class="bold">INT</p>
          <p>{{ monster.attributes!.intelligence }}</p>
        </div>
        <div class="single-stat">
          <p class="bold">WIS</p>
          <p>{{ monster.attributes!.wisdom }}</p>
        </div>
        <div class="single-stat">
          <p class="bold">CHA</p>
          <p>{{ monster.attributes!.charisma }}</p>
        </div>
        <div></div>
      </div>
      <mat-divider></mat-divider>
      <div class="padded">
        <div class="sec">
          <span class="bold">Saving Throws </span>
          <span *ngIf="monster.savingThrowModifiers!.strength">STR {{ monster.savingThrowModifiers?.strength }}, </span>
          <span *ngIf="monster.savingThrowModifiers!.dexterity">DEX {{ monster.savingThrowModifiers?.dexterity }}
            , </span>
          <span
            *ngIf="monster.savingThrowModifiers!.constitution">CON {{ monster.savingThrowModifiers?.constitution }}
            , </span>
          <span
            *ngIf="monster.savingThrowModifiers!.intelligence">INT {{ monster.savingThrowModifiers?.intelligence }}
            , </span>
          <span *ngIf="monster.savingThrowModifiers!.wisdom">WIS {{ monster.savingThrowModifiers?.wisdom }}, </span>
          <span *ngIf="monster.savingThrowModifiers!.charisma">CHA {{ monster.savingThrowModifiers?.charisma }}</span>
        </div>
        <div *ngIf="monster.skills?.length != 0" class="sec">
          <span class="bold">Skills </span>
          <span *ngFor="let skill of monster.skills; let isLast = last">{{ skill.name }} {{ skill.modifier }}
            <span *ngIf="!isLast">, </span>
        </span>
        </div>
        <div *ngIf="monster.damageImmunities?.length != 0" class="sec">
          <span class="bold">Damage Immunities </span>
          <span *ngFor="let dmgImmunity of monster.damageImmunities; let isLast = last">{{ dmgImmunity }}
            <span *ngIf="!isLast">, </span>
        </span>
        </div>
        <div *ngIf="monster.senses?.length != 0" class="sec">
          <span class="bold">Senses </span>
          <span *ngFor="let sense of monster.senses; let isLast = last">{{ sense }}
            <span *ngIf="!isLast">, </span>
        </span>
        </div>
        <div *ngIf="monster.languages?.length != 0" class="sec">
          <span class="bold">Languages </span>
          <span *ngFor="let language of monster.languages; let isLast = last">{{ language }}
            <span *ngIf="!isLast">, </span>
        </span>
        </div>
        <div class="sec">
          <span class="bold">Challenge </span>
          <span>{{ monster.challengeRating }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="characteristic-row" *ngFor="let characteristic of monster.characteristics">
        <p class="characteristic"><b><i>{{ characteristic.name }}.</i></b> {{ characteristic.description }}</p>
      </div>
      <mat-divider></mat-divider>
      <h3>Actions</h3>
      <mat-divider></mat-divider>
      <div class="action-row" *ngFor="let action of monster.actions">
        <span class="action"><b><i>{{ action.name }}<span *ngIf="action.rechargeOn && action.rechargeOn.toLowerCase() !== 'none'"> (Recharge {{action.rechargeOn}})</span>. </i></b> <i>{{ action.kindOfAttack }}: </i>{{ action.modifierToHit }}
          to hit, reach {{ action.reach }}, {{action.numberOfTargets}} targets. Hit: </span>
        <span *ngFor="let damage of action.damages; let isLast=last">{{ damage.diceRoll }} {{ damage.damageType }}
          <span *ngIf="!isLast">, </span>
        </span>
        <span>{{action.description}}</span>
      </div>

      <div>
        <h3>Description</h3>
        {{ monster.monsterDescription }}
      </div>
    </div>
  </div>
  <app-monster-image-renderer [imageIds]="monster!.imageIds"
                              (currentlyShowImageId)="updateCurrentImageId($event)"></app-monster-image-renderer>
  <button mat-raised-button class="full-size-button" color="primary" (click)="openCreateImageDialog()">
    <p>Generate new image for this monster</p>
    <div *ngIf="isLoading" class="loader">
      <span>Currently generating. I'll tell you when I'm done</span>
    </div>
  </button>
  <button *ngIf="currentImageId" mat-raised-button class="full-size-button" color="secondary" (click)="deleteImage()">
    <p>Remove this image</p>
  </button>
</div>
