<h1 mat-dialog-title>Generate new Creature</h1>
<div mat-dialog-content>
  <form [formGroup]="createCreatureForm" class="create-creature-form">
    <div>
      <mat-form-field appearance="outline" class="creature-prompt">
        <mat-label>Describe the creature</mat-label>
        <textarea matInput formControlName="prompt"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox formControlName="generateImage">Should I generate an image too?</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="generateCreatures()">Generate!</button>
  <button mat-button (click)="abort()">Abort!</button>
</div>
